
    <h1>Classes</h1><hr>
   <div class="instructor-classes">
    <div class="clear-fix">
      <%= render 'subject_classes/sem_year_select' %>  
      <%= render partial: 'dashboard/display_classes', locals: {classes: @subject_classes} %>
    </div>
    <%= link_to 'New Class', new_subject_class_path(@instructor), class: "btn btn-primary new-button" %>
  </div>
