<div class="jumbotron show new-form">
    <h1>Editing Student</h1>
  <div class="form">

    <%= render 'form', student: @student %>

    <%= link_to 'Show', @student %> |
    <%= link_to 'Back', students_path %>
  </div>
</div>