<div class="jumbotron show new-form">
  <h1>New Student</h1>
  <div class="form">


    <%= render 'form', student: @student %>

    <%= link_to 'Back', students_path, class: "btn btn-secondary new-button" %>
  </div>
</div>