
<h1>New Admin</h1><hr>

<div class="jumbotron box-shadow new-form">
  <h1>Create new Admin</h1>
  <div class="container">
    <%= render 'form', user: @user %>

    <%= link_to 'Back', users_path, class: "btn btn-secondary new-button"%>

  </div>
</div>
