<h1>Editing Subject</h1><hr>
<div class="jumbotron box-shadow form-subject">
    <h1></h1>

  <%= render 'form', subject: @subject %>

  <%= link_to 'Show', @subject, class: "btn btn-info new-button" %> <%= link_to 'Back', subjects_path, class: "btn btn-secondary new-button"  %>
</div>
