<p id="notice"><%= notice %></p>

<h1>Classes</h1><hr>

<div class="jumbotron no-radius">
  <div class="clear-fix"> 
    <%= render partial: 'display_classes', locals: {classes: @subject_classes} %>
  </div>
  
  <%= link_to 'New Subject Class', new_subject_class_path, class: "btn btn-primary new-button" %>
</div>