body{
  margin:0;
  border: 1px dotted white
}

.box{
  border: 1px dotted red
}


.sidebar{
  position: fixed;
  height: 100%;
  overflow: auto;  
  border-left: 1px solid gray;
  background-color: #FFF;
  width: 300px;
  margin: 0;
  padding: 10px 0 0 0;
  margin-top: 60px;
  border-right: 1px solid gray;
  
}

.sidebar h3{
  font-size: 25px;
  margin-left: 0.4em;
  height: 60px;
  padding-top: 15px;
  border-bottom: 1px solid gray;
}

.sidebar .icon{
  margin: auto 1em;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li a{
  display: block;
  background-color: #E4E4E4;
  text-decoration: none;
  color: black;
  height: 55px;
  padding: 15px;
  font-size: 20px;
  margin-top: 5px;
  
}

.sidebar ul li a:hover{
  background-color: blue;
  
  color: white;
}

.content{
  margin-left: 300px;
  margin-top: 60px;
  padding: 3px 20px 0 20px
}

.header{
  position: fixed;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid gray;
  background-color: #0F97DE;
  color: white;
  border-bottom: 2px solid gray;
  z-index: 10;
}
.header form{
  width: 40%;
  float: left;
  margin-top: 10px; 
  margin-left: 4em; 

}

.header form button{
  width: 40px;
  border-radius: 5px;
}


.header .notification{
  float: right;
  margin-top: 20px;
  margin-right: 1em;
  font-size: 20px;
}

.header .title{
  float: left;
  font-size: 40px;
}

.header button{
  background-color: white;
}

.header .title::after{
  content: "Class Monitoring";
}

.box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}

form .hidden{
  display:none;
}


table.index-table{
  border-collapse: collapse;
  border: 1px solid black;
  
}
table.index-table tr,table.index-table th, table.index-table td{

  padding: 5px 20px 5px 20px;
  border: 1px solid black;
}

.admin-box{
  display: inline-block;
  width: 100%;
  max-width: 480px;
  min-height: 200px;
  position: relative;
  padding:0;
}

.admin-box .image{
  height: 180px   ;
  width: 180px;
  position: absolute;
  background-color: red;
  border-radius: 100px;
  border: 4px solid white;
  margin: 5px;
  overflow: hidden;
}

.clear-fix{
  width: 100%;
  overflow: auto;
}

.no-radius{
  border-radius: 0px !important;
  overflow: auto;
}

.admin-box h2{
  background-color: #0F97DE;
  width: auto;
  padding: 40px 0 10px 220px;
  font-size: 24px;
}

.admin-box h4{
  padding: 3px 0 10px 220px;
  font-size: 20px;
}

.white{
  background-color: white !important;
}

.admin-box h2 a{
  text-decoration: none;
  color:white;
}

.admin-box h2 a:hover{
  text-decoration: none;
  color:skyblue;
  background-color: #0F97DE
}

.row-margin {
  margin-top: 20px 
}

.admin-details{
  padding:0;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  position: relative;

}

.admin-details h1{
  padding:30px 0 10px 35%;  
  margin:0;
  background-color: #0F97DE;
  color: white;
  font-size: 60px
}

.admin-details .details{
  padding:10px 0 10px 35%;  
  margin:0;
}

.admin-details .details p{
  font-size: large
}

.admin-details .image{
  height: 300px   ;
  width: 300px;
  position: absolute;
  background-color: red;
  border-radius: 150px;
  border: 4px solid white;
  margin: 5px;
  overflow: hidden;
}

.details a{
  color:white !important;
  width: 80px;
}

.new-button{
  color: white !important;
  margin-bottom: 20px !important;
}

.new-form{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 !important;
}

.new-form h1{
  margin:0;
  background-color: #0F97DE;
  padding:10;
  text-align: center;
  color: white
}

.new-form .container{
  margin-top: 10px !important;
  padding: 30px !important;
  height: auto !important;
}

.date{
  display:inline-block !important;
  width: 32% !important;
}

.edit-image{
  width: 100%;
  max-width:300px; 
  border-radius: 20px;
  border: 1px solid gray;
  display: block;
  margin: 0 auto;
}

.index{
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.index th{
  color: white;
  background-color: #0F97DE
}

.index th, .index td{
  border: 1px solid gray;
  padding: 5px 15px;
}

.index td{
  font-size: 16px;
}

.show{
  margin-top: 20px !important;
  padding: 0 !important;
  overflow: hidden;
}

.show h1{
  background-color: #0F97DE;
  padding: 5px;
  color: white;
}

.show p{
  font-size: large;
  
}

.show .info{
  border: 1px solid gray;
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 1500px;
  margin: 20px auto;
  box-shadow: 5px 5px 2px gray;
  overflow: auto;
}

.show .info th, .show .info td{
  padding: 5px 15px
}

.form{
  margin: 20px;
}

.date{
  display: inline-block !important;
}

.instructor-container{
  width: 100%;
  max-width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
  padding: 0;
  overflow: hidden;
  margin: 10px;
  border: 1px solid rgb(179, 179, 179);
  box-shadow: 5px 5px 5px rgb(173, 173, 173);
}

.instructor-container .header{
  position: absolute;
  background-color: #0F97DE;
  width: 100%;
  height: 140px;
  z-index: -1;

}
.instructor-container .img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: block;
  margin: 10px auto;
  border: 4px solid white;
  overflow: hidden;
}

.instructor-container img{
  width: 100%;
}

.instructor-container h4{
  text-align: center
}

.instructor-container p{
  text-align: center;
  color: gray
}

.instructor-container a{
  color: black
}

.instructor-container a:hover{
  text-decoration: none;
}



.instructor-info{
  border: 2px solid rgb(187, 187, 187);
  position: relative;
  overflow: hidden;
}

.instructor-header{
  padding: 0;
  margin: 0;
  background-color: #0F97DE;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: -1;
  
}

.instructor-info .image-container{
  width: 400px;
  padding: 20px;
  float: left  
}

.instructor-info .image-container img{
  width: 100%;
  border: 5px solid white;
}

.info-container{
  margin: 100px 0 0 0;
  width: 200%;
}

.info-container p strong{
  margin-left: 20px;
}

.instructor-name{
  font-size: 45px;
  color: black;
}

.instructor-position{
  font-size: 25px;
  color: black;
  margin-top: -15px;
  color: #0F97DE;
  text-indent: 1em;
}

.info-container table, .info-container th, .info-container td{
  padding: 0 20px;
}

.form-subject{
  max-width: 500px;
  position: relative;
  overflow: hidden;
  padding: 0 !important;

}

.form-subject h1{
  color: white;
  background-color: #0F97DE;
  height: 50px;
}

.form-subject form{
  padding: 25px;
}

.form-subject a{
  margin: 25px;
}

.info-table-class th, .info-table-class td{
  padding: 0 10px;
}

.student-image{
  width: 200px;
  height: 200px;
  float: left;
  margin: 0 15px;
}

.student-image img{
  width:100%
}

.instructor-classes{
  width: 100%;
  padding: 20px;
  overflow: auto;
}

.class-list{
  padding: 20px 0;
}

.class-list .blue-header{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: #0F97DE;
  z-index: -1;
  position:absolute;
}

.class-list .class-container{
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 5px gray;
  background-color: #effbff;
  z-index: 2;
  text-align: center;
  float: left;
  margin: 10px;
}

.class-list .icon{
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 10px;
  border-radius: 30px;
  border: 2px solid white
}

.class-list img{
  width: 100%;
}

.class-list p{
  margin:0;
}
.class-list strong{
  font-size: 20px;
  z-index: 2;
}

.class-list small{
  color: rgb(126, 126, 126)
}












































@media screen and (max-width: 900px) {
  .sidebar {
    width: 75px;
  }

  .sidebar .icon{
    margin-left: 10px;
  }

  .sidebar .desc {
    display: none;
  }

  .header .title::after{
    content: "CMS";
  }
  
  div.content {margin-left: 75px;}

  .header form{
    display: none;
  }

  .info-container{
    float: left;
    margin: 0 20px;
    width: 100%;
  }


.instructor-name{
  font-size: 30px;
  color: black;
}


}


@media screen and (max-width: 650px) {
  .admin-box .image{
    height: 180px   ;
    width: 180px;
    position: relative;
    background-color: red;
    border-radius: 100px;
    border: 4px solid white;
    margin: 5px;
    overflow: hidden;
  }

  .admin-box h2{
    background-color: #0F97DE;
    width: auto;
    padding: 5px;
  }
  
  .admin-box h4{
    padding: 5px;
    font-size: 15px
  }

  .instructor-container h4{
    font-size: 20px;
  }

  .instructor-info .image-container{
    width: 100%;
    padding: 20px;
    float: left  
  }

  .info-container p strong{
    margin-left: 0;
  }
}

