.att-test{
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 20px !important;
  overflow: auto;
}

.fit{
  width: 100%;
  margin: 0 auto;
  float: left;
}

.test{
  border: 1px solid rgba(128, 128, 128, 0.288);
  border-top : 12px solid #0F97DE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  padding: 20px;
}

table.info{
  th{
    padding: 2px 5px;
  }
  td{
    padding: 2px 5px;
  }
}

canvas{
  height: 400px;
}

.student-exam{

  .headers{
    display: block;
    background-color: #0F97DE;
    padding: 10px 10px 2px 10px;
    color: white;
    h2{
      overflow: auto;
    }
    span{
      font-size: 20px !important;
      float: right;
    }
    p{
      font-size: 20px;
      padding-left: 20px
    }
  }

  .exam-info{
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 1px solid gray;
    td, th{
      padding-top: 5px !important;
      padding-right: 10px;
    }
    .exam-btn{
      width: 100px;
    }
  }
}

.summary-table{
  th, td{
    padding: 5px;
    border: 1px solid rgb(133, 133, 133);
  }
  th{
    text-align: center;
  }
  .center-data{
    text-align:center
  }
}