 
 <% if current_user.image.attachment.present? %>
  <div class="header-icon">
    <%= image_tag current_user.image %>
  </div>
 <% else %>  
  <div class="header-icon">
    <%= render 'subject_classes/image' %>
  </div>
 <% end %>
  <%= current_user.name %>